<%- include('../layouts/Users/header.ejs') %>

	<section class="vh-100 bg-image">
		<div class="mask d-flex align-items-center h-100 gradient-custom-3">
			<div class="container  h-full">
				<div class="row d-flex flex-c align-items-center h-100">
					<div class="col-12 col-md-9 col-lg-7 col-xl-6">
						<div class="card m-5" style="border-radius: 15px;">
							<div class="card-body p-5">
								
								<div class="card-text">
									<form action="/forget_password/<%=token_id%>" method="post">
										<div class="form-group mb-4">
											<label  class="stext-107 cl7 hov-cl1" for="exampleInputEmail1">
												Reset Password.</label>
											<input type="password" name="password" class="form-control form-control-sm"
												placeholder="Enter your reset password">
                                                <input type="hidden" name="user_id" class="form-control form-control-sm"
												 value="<%=user_id%>">
										</div>

										<button type="submit" class="btn btn-primary btn-block">Reset Password
											</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- include the footer section of html of User-->
	<%- include('../layouts/Users/footer.ejs') %>