<!-- include the header section of Html of Users -->
<%- include('../layouts/Users/header.ejs') %>
  <section class="vh-100 bg-image">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container  h-full">
        <div class="row d-flex flex-c align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card m-5" style="border-radius: 15px;">
              <div class="card-body p-5">
                <h2 class="text-uppercase mtext-105 cl2 txt-center p-b-30">Create an account</h2>
                <% if( typeof message !== 'undefined') {%>
                    <p class="error text-danger m-3"> <%=message %> </p>
                    <%}%>
                <form  action="/login" method="POST">
                  <div class="form-outline mb-4">
                    <label class="form-label stext-107 cl7 hov-cl1" for="form3Example3cg">Your Email</label>
                    <input type="email" name="email" id="form3Example3cg" class="form-control form-control-lg" />

                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label stext-107 cl7 hov-cl1 trans-04" for="form3Example4cg">Password</label>
                    <input type="password" name="password" id="form3Example4cg" class="form-control form-control-lg" />

                  </div>

                  <div class="d-flex justify-content-center">
                    <button type="submit"
                      class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                  </div>

                  <p class="text-center text-muted mt-5 mb-0 stext-107 cl7 hov-cl1">create an new account?<a href="/SignUp"
                      class="fw-bold text-body clblack"><u> SignUp here</u></a><span >  <a href="/forget" class="fw-bold text-body text-primary m-l-4">forgot password</a></span></p>

                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- include the footer section of html of User-->
  <%- include('../layouts/Users/footer.ejs') %>