<!-- include the header section of Html of Users -->
<%- include('../layouts/Users/header.ejs') %>
  <section class="vh-100 bg-image"
    style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container  h-full">
        <div class="row d-flex flex-c align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card m-5" style="border-radius: 15px;">
              <div class="card-body p-5">
                <h2 class="text-uppercase mtext-105 cl2 txt-center p-b-30">Create an account</h2>
                <% if(SignUpErr === true) {%>
                  <p class="error text-danger"style=" padding-left: 6.25rem;"> Invalid  Repeat password </p>
                  <%}%>
                  <% if( typeof message !== 'undefined') {%>
                    <p class="error text-success m-3"> <%=message %> </p>
                    <%}%>
                <form  action="/SignUp" method="POST">

                  <div class="form-outline mb-4">
                    <label class="form-label stext-107 cl7 hov-cl1" for="form3Example1cg">Your Name</label>
                    <input type="text" name="name" id="form3Example1cg" class="form-control form-control-lg" />

                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label stext-107 cl7 hov-cl1" for="form3Example3cg">Your Email</label>
                    <input type="email" name="email" id="form3Example3cg" class="form-control form-control-lg" />

                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label stext-107 cl7 hov-cl1 trans-04" for="form3Example4cg">Password</label>
                    <input type="password" name="password" id="form3Example4cg" class="form-control form-control-lg" />

                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label stext-107 cl7 hov-cl1" for="form3Example4cdg">Repeat your password</label>
                    <input type="password"  name="repeatpassword" id="form3Example4cdg" class="form-control form-control-lg" />

                  </div>

                  <div class="form-check d-flex  mb-5">
                    <input class="form-check-input me-3 m-lr-1" type="checkbox" value="" id="form2Example3cg" />
                    <label class="form-check-label justify-content-center stext-107 cl7 hov-cl1" for="form2Example3g">
                           I agree all statements in <a href="" class="text-body clblack"><u>Terms of service</u></a>
                    </label>
                  </div>

                  <div class="d-flex justify-content-center">
                    <button type="submit"
                      class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                  </div>

                  <p class="text-center text-muted mt-5 mb-0 stext-107 cl7 hov-cl1">Have already an account? <a href="/login"
                      class="fw-bold text-body clblack"><u>Login here</u></a></p>

                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- include the footer section of html of User-->
  <%- include('../layouts/Users/footer.ejs') %>